@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button{
  color: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;
}


:root{
  --main-font: 'Josefin Sans', sans-serif;
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  
  /* ### Light Theme */

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* ### Dark Theme */

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  --color-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--Dark-Grayish-Blue)
}

.background{
  min-height: calc(100vh - 13px);
  background-image: url('./images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: 500px 220px;
  background-color: var(--Very-Light-Gray);
}

@media screen and (min-width: 500px){
  .background{
    background-image: url('./images/bg-desktop-light.jpg');
    background-size: auto 220px;
  }
}

@media screen and (min-width: 1050px){
  .background{
    background-image: url('./images/bg-desktop-light.jpg');
    background-size: contain;
  }
}
/* To do container */

.todo_container{
  padding-top: max(10vh, 110px);
  min-height: 90vh;
  width: min(80%, 600px);
  margin: 0 auto;
}

.todo_heading{
  color: var(--Very-Light-Gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
}

.todo_title{
  letter-spacing: 10px;
}

.todo_icon{
  cursor: pointer;
}

.todo_sun{
  display: none;
}

.todo_sun.visible{
  display: block;
}

.visible{
  display: none;
}

.todo_form{
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--color-shadow);
}


input[type = text]{
  border: none;
  width: 90%;
  display: inline;
  background-color: transparent;
}



.todo_body,
.todo_buttons_mobile{
  margin-top: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--color-shadow);
}

.todo_list > *, .todo_buttons,
.todo_buttons_mobile{
  padding: 1rem;
}

.todo_list > .todo_item + .todo_item,
.todo_list + .todo_buttons{
  border-top: 1px solid var(--Very-Light-Grayish-Blue);
}

label{
  padding-left: 0.7rem;
}

.todo_buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.clear{
  display: none;
}

.todo_item{
  position: relative;
}


.close{
  height: 30px;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  visibility: hidden;
  transform: translateY(-50%);
}

.todo_item:hover .close{
  visibility: visible;
}

.close::before{
  content: '';
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 5px;
  background-color: #746f6f;
  transform: rotate(45deg);
}

.close::after{
  content: '';
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 5px;
  background-color: #746f6f;
  transform: rotate(-45deg);
}

input:checked + label{
  color: var(--Very-Light-Grayish-Blue);
  text-decoration:line-through;
}

.todo_buttons_desktop{
  display: none;
}

.todo_buttons_mobile{
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 630px){
  .todo_buttons_desktop{
  display: block;
  }
  .todo_buttons_mobile{
    display: none;
  }
}

.todo_buttons .button:hover{
  color: var(--Bright-Blue);
}


/* themes */

body[data-theme="dark"]{
  background-color: hsl(235, 21%, 11%);
}

[data-theme="dark"] {
  background-color: hsl(235, 24%, 19%);
}

[data-theme="dark"] > *{
  color: hsl(234, 39%, 85%);
}

[data-theme="dark"] .todo_buttons > *{
  color: hsl(234, 39%, 85%);;
}

[data-theme="dark"] .todo_list > .todo_item + .todo_item,
[data-theme="dark"] .todo_list + .todo_buttons{
  border-top: 1px solid var(--Dark-Grayish-Blue);
}

